---
title: "SERGRUMA"
layout: splash
permalink: /
date: 2016-03-23T11:48:41-04:00
header:
  overlay_color: "#000"
  overlay_filter: "0.5"
  overlay_image: https://lh3.googleusercontent.com/cpsMknFM1EBtMHfgydJ1QVHnR6o-oaDc3U3nc5N7dzAq1zY3lug0uX73FfVFxEKFRKU9xtOa=w1080-h608-p-no-v0
  actions:
    - label: "Descubre más"
      url: "/contacto"
excerpt: "Alquiler de grúas y maquinaria de construcción en El Bierzo."
intro: 
  - excerpt: 'Empresa con más de 30 años de experiencia en grúas, torres y maquinaria de construcción.
              Alquiler de grúas torre y automontantes. Alquiler de maquinaria en Ponferrada.
              Nos encontramos en Camponaraya (El Bierzo, León) y damos servicio en Ponferrada y alrededores,
              ¡también consúltanos para otras zonas de España!'
feature_row:
  - image_path: https://lh3.googleusercontent.com/p/AF1QipN84jtu6HlTtYUjl28s-A7btGHC8JxL-sqhp6S-=s1280-p-no-v1
    alt: "Grúa en el Castillo de Ponferrada"
    title: "Grúas"
    excerpt: "Alquiler de **grúas** en Ponferrada, transporte e instalación."
  - image_path: https://img.milanuncios.com/fg/3498/71/349871833_1.jpg?VersionId=UcblnEUod3pJwiW.NO1Kgk.nUVM1JMUJ
    alt: "maquinaria"
    title: "Maquinaria de construcción"
    excerpt: "Venta y alquiler de maquinaria para obras"
    url: "maquinaria"
    btn_label: "Read More"
    btn_class: "btn--primary"
  - image_path: /assets/images/unsplash-gallery-image-3-th.jpg
    title: "Respuestos"
    excerpt: "Repuestos de maquinaria industrial"
feature_row2:
  - image_path: /assets/images/unsplash-gallery-image-2-th.jpg
    alt: "placeholder image 2"
    title: "Placeholder Image Left Aligned"
    excerpt: 'This is some sample content that goes here with **Markdown** formatting. Left aligned with `type="left"`'
    url: "#test-link"
    btn_label: "Read More"
    btn_class: "btn--primary"
feature_row3:
  - image_path: /assets/images/unsplash-gallery-image-2-th.jpg
    alt: "placeholder image 2"
    title: "Placeholder Image Right Aligned"
    excerpt: 'This is some sample content that goes here with **Markdown** formatting. Right aligned with `type="right"`'
    url: "#test-link"
    btn_label: "Read More"
    btn_class: "btn--primary"
feature_row4:
  - image_path: /assets/images/unsplash-gallery-image-2-th.jpg
    alt: "placeholder image 2"
    title: "Placeholder Image Center Aligned"
    excerpt: 'This is some sample content that goes here with **Markdown** formatting. Centered with `type="center"`'
    url: "#test-link"
    btn_label: "Read More"
    btn_class: "btn--primary"
---

{% include feature_row id="intro" type="center" %}

{% include feature_row %}

{% include feature_row id="feature_row2" type="left" %}

{% include feature_row id="feature_row3" type="right" %}

{% include feature_row id="feature_row4" type="center" %}
